@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");


.tag-symbol {
  font-size: 14px !important;
}

.card-text {
  margin-top: -15px;
  position: relative;
  z-index: 1;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --blue: #4781FF;

  /*Fonts*/
  --font-family: "Roboto", sans-serif;

  --text-background: #0a0a0a;
  --text-foreground: #ffffff;
  /*Buttons*/
  --btn-primary: var(--blue);
  --btn-secondary: transparent;
  --btn-tertiary: transparent;
  --btn-danger: #8A2628;
  --btn-action: #F2AA0F;
  --btn-cta: #9747FF;
  --btn-menu: #FFFFFF;
  --btn-trash: #FFFFFF;
  --btn-favorite: #FFFFFF;
  /*Buttons text*/
  --btn-primary-text: #FFFFFF;
  --btn-secondary-text: var(--blue);
  --btn-tertiary-text: #9747FF;
  --btn-danger-text: #FFFFFF;
  --btn-action-text: #FFFFFF;
  --btn-cta-text: #FFFFFF;
  --btn-menu-text: #0a0a0a;
  --btn-favorite-text: #8A2628;
  /*colores para tags y titulos de secciones*/
  --color-adoption: #538A45;
  --color-missing: #9747FF;
  --color-volunteering: #D27E00;
  --color-blog:#4781FF ;
  --color-marketplace: #FF7847;
  --color-found: #212321;
  /*BRAND COLORS*/
  --color-primary-brand-color: #A36CC4;
  --color-secondary-brand-color: #F2AA0F;
  --color-found-tag: #73B263;
  --color-missing-tag: #FF5050;
  --color-lilac-backgorund: #9747FF;
  /*Text colors*/
  --color-text-primary: #333333;
  --color-text-secondary: #636363;
}

@media (prefers-color-scheme: dark) {
  :root {
    /*Buttons*/
    --btn-primary: var(--blue);
    --btn-secondary: transparent;
    --btn-tertiary: transparent;
    --btn-danger: #8A2628;
    --btn-action: #F2AA0F;
    --btn-cta: #9747FF;
    --btn-menu: #FFFFFF;
    --btn-trash: #FFFFFF;
    --btn-favorite: #FFFFFF;

    /*Buttons text*/
    --btn-primary-text: #FFFFFF;
    --btn-secondary-text: var(--blue);
    --btn-tertiary-text: #9747FF;
    --btn-danger-text: #FFFFFF;
    --btn-action-text: #FFFFFF;
    --btn-cta-text: #FFFFFF;
    --btn-menu-text: #0a0a0a;
    --btn-favorite-text: #8A2628;

    /*colores para tags y titulos de secciones*/
    --color-adoption: #4781FF;
    --color-missing: #9747FF;
    --color-volunteering: #D27E00;
    --color-blog: #538A45;
    --color-marketplace: #FF7847;
    --color-crowdfunding: #24c099;

    /*BRAND COLORS*/
    --color-primary-brand-color: #A36CC4;
    --color-secondary-brand-color: #F2AA0F;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding-left: 4rem;
  padding-right: 4rem;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE y Edge */
  scrollbar-width: none;     /* Firefox */
}
@layer utilities {
  .scrollbar-light {
    overflow-x: auto; /* o overflow-y-auto si lo prefieres */
  }

  .scrollbar-light::-webkit-scrollbar {
    height: 12px; /* 🆕 más alto (antes 8px) */
    width: 12px;
  }

  .scrollbar-light::-webkit-scrollbar-track {
    background: transparent;
    
  }

  .scrollbar-light::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 6px;
    transition: background-color 0.2s ease;
  }

 

  .scrollbar-light {
    scrollbar-width: thin;
    scrollbar-color: #efefef transparent;
  }

  /* Firefox hover no se puede personalizar, pero se verá gris claro */
}